VITE_API_KEY = [YOUR KEY]
VITE_AUTH_DOMAIN = [YOUR AUTH DOMAIN]
VITE_PROJECT_ID = [YOUR PROJECT ID]
VITE_STORAGE_BUCKET = [YOUR STORAGE BUCKET]
VITE_MESSAGING_SENDER_ID = [YOUR MESSAGIN SENDER ID]
VITE_APP_ID = [YOUR APP ID]
VITE_MEASUREMENT_ID = [YOUR MESSUREMENT ID]