@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cascadia Code PL";
  src: url("../assets/fonts/Cascadia.ttf");
}

:root {
  color-scheme: light dark;
  font-family: "Cascadia Code PL";
  user-select: none;
}
