@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cascadia Code PL";
  src: url("../assets/fonts/Cascadia.ttf");
}

@keyframes animation-show {
  0% {
    width: 0;
  }
  100% {
    width: full;
  }
}

@keyframes animation-hidden {
  0% {
    width: full;
  }
  100% {
    width: 0;
    display: none;
  }
}

:root {
  color-scheme: light dark;
  font-family: "Cascadia Code PL";
  user-select: none;
}

.showAside {
  animation-name: animation-show;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-direction: normal;
}
.hiddenAside {
  animation-name: animation-hidden;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-direction: normal;
}
